<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497035206886-f5hjdfq2jp44k3j8vj0pbvu1at6eekh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497035206886-f5hjdfq2jp44k3j8vj0pbvu1at6eekh2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497035206886-8pf2rqui0il49bi50sll36n02qiu6a5b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmt6s6WxGUaQpV1OTEVC_iWbTz9IBiS_c</string>
	<key>GCM_SENDER_ID</key>
	<string>497035206886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christianunitymission.CU</string>
	<key>PROJECT_ID</key>
	<string>christian-unity-mission</string>
	<key>STORAGE_BUCKET</key>
	<string>christian-unity-mission.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497035206886:ios:031cff57601a2b6d649b27</string>
</dict>
</plist>